# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
cache/tpl/*
web/uploads/*
web/bundles/*

# Configuration files
app/config.php

# vim
*.swp
*.swo
.*.swp
.*.swo
*.png
*.php_serialized
