{% macro navtools() %}
    <ul id="nav-tools">
        <li>
            <a class="btn-categories btn-default" href="#">
                <i class="fa fa-beer fa-lg"></i><span>Bars</span>
            </a>
        </li>
        <li>
            <a class="btn-categories btn-default" href="#">
                <i class="fa fa-coffee fa-lg"></i><span>Cafés</span>
            </a>
        </li>
        <li>
            <a class="btn-categories btn-default" href="#">
                <i class="fa fa-cutlery fa-lg"></i><span>Restaurants</span></a>
        </li>
        <li>
            <a class="btn-categories btn-default" href="#">
                <i class="fa fa-gear fa-lg" ></i><span>Custom</span>
            </a>
        </li>
    </ul>
{% endmacro %}