<!DOCTYPE html>
<html>
<body>
    <p>
        <a href="{{ path('home') }}"><img src="{{ media('img/logo.png') }}" alt="lol" /></a>
    </p>
        L'id du business est :  {{ array['business']['id']}}
        Le nom de business est :  {{ array['business']['name']}}
    <p>
        
</body>
</html>
