.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.saumon {color:#f15959; }
#bottom-head {position:absolute;bottom:0; height:auto; width:100%}
.ui-tooltip {
    background: rgba(250,250,250,0.95);
    color: #222;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0;
}
.ui-autocomplete {
    background: rgba(250,250,250,0.95);
    border-radius: 0px;
    width: 100px;
    padding: 5px;
    font-family: 'Open Sans';
    width: 665px; top: 300px !important; left: 921px;
}
.ui-autocomplete.source:hover {
    background: rgba(250,250,250,0.95);
}

.ui-menu .ui-menu-item a{
    color: #222;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #f15959;
    border: none;
    border-radius: 0;
    color: #222;
}
.ui-menu .ui-menu-item {
    padding: 10px 5px;
}
/* main styles */
* {moz-box-sizing: border-box; outline: none;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {border: 0; font: inherit; font-size: 100%; margin: 0; padding: 0; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {background: white; color: #1f2528; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Verdana, Sans-serif; font-size: 12px; margin: 0; min-height: 100%; position: relative;}
body, html {height: 100%;}
footer {background: url(../img/footer.png) no-repeat center fixed black; background-color: black; background-size: cover; border-top: 2px solid rgb(200,200,200); color: white; height: 100px; padding: 25px; text-align: center; width: 100%;}
footer, .push {height: 100px;}
h1 {font-size: 35px;}
h3 {font-size: 12px;}
hr.fancy-line {border: 0; height: 1px; margin: 0.5em 0; position: relative;}
hr.fancy-line:after {content: ''; height: 0.5em; top: 1px;}
hr.fancy-line:before {height: 1em; top: -0.5em;}
html {line-height: 1; webkit-font-smoothing: antialiased; webkit-text-size-adjust: 100%;}
img {height: auto; max-width: 100%;}
img, fieldset {border: 0;}
input {background-color: #fff;}
strong {font-weight: 900;}

/* wrapper */
.wrapper {height: 100%; height: auto !important; margin: 0 auto -100px; min-height: 100%;}

/* clearfix from html5boilerplate */
.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

/* popup styles */
 .btn {background: #F4F4F2; padding: 10px 20px; width: 100%; border-radius: 1px}
 .btn:hover {background: #E4E4E2;}
 .btn_red {background: #e54e4e; color: #FFF;}
 .btn_red:hover {background: #ca5151;}
 a.btn {color: #666; text-align: center; text-decoration: none;}
 a.btn_red {color: #FFF;}
.forgot_password {clear: both; color: #ED6347; display: inline-block; float:right; text-decoration: none;}
.popupBody {padding: 20px;}
 .checkbox {clear: both; margin-bottom: 10px; overflow: hidden;}
 input[type="checkbox"] {float: left; margin-right: 5px;}
 input[type="checkbox"]+label {float: left;}
 input[type="text"], input[type="email"], input[type="password"] {border: 1px solid #DDD; color: #666; display: block; padding: 10px; width: 100%;}
 label {display: block; margin: 5px 0;}

.one_half {display: block; float: left; width: 50%;}
.one_half.last {margin-left: 5%; width: 45%;}

.action_btns {margin-bottom: 20px}
.fb .icon {display:table-cell; width:30px; text-align:center}
.google .icon {display:table-cell; width:30px; text-align:center}
.icon {display:table-cell; float: left; font-size: 16px; padding: 6px 10px; text-align: center; width: auto;}
.icon_bar {display:table-cell; float: left; font-size: 20px; margin: 2px 5px;  text-align: center; width: auto;}
.icon_title {float: left; display:table-cell; font-size: 16px; font-weight: bold; padding: 6px 0;}
.social_box0 {background: #F4F4F2; clear: both; display: table; margin-bottom: 10px; overflow: hidden; padding: 10px; width: 100%; color: white !important}
.social_box0.fb {background: #3c579d;}
.social_box0.fb:hover {background: #354d7e;}
.social_box0.google {background: #d84634;}
.social_box0.google:hover {background: #bd3726;}

.modal-content {border-radius: 0}
.modal-title {font-size: 2em; font-family: 'Roboto';}
/* header styles */
header {}
.nav-pills > li > a {color: #222; text-align: center; padding: 10px; display: block; text-align: center; padding: 10px; border-radius: 0;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #2C3E50;
    color: #ECF0F1;
}
.nav-pills {padding:20px; background-color:rgb(245,245,245);}
/* head styles */
#head {background: url(../img/head.jpg) center center; background-size: cover; border-bottom: 0px solid #ddd; height: 320px; margin: 0; width: 100%;}
#head-content {background-color: rgba(0,0,0,0.1); display: block; margin: auto; margin-top: 50px; max-width: 520px; text-align: center;}
#head .nav-tools {float: none; margin: auto; margin-top: 20px; padding: 0; max-width: 425px; width: auto; overflow: hidden;}
#head form {margin-top: 25px;}
#head select {background-color: rgba(250,250,250,0.2); border: none; color: white; display: block; font-size: 18px; height: 40px; margin: auto; max-width: 415px; text-transform: capitalize; width: 100%;}
#head select > option {background: white; color: black;}
#head select > option[selected] {color: rgb(255,102,102) !important; font-style: italic;}
#head .title {border-left: 2px solid #f15959; height:100px; padding:35px 15px 0;font-style:normal; font-size:28px; font-family:'Roboto'; color:white;}
/* logo styles */
#logo {background: url(../img/logo.png) no-repeat center center; background-size: 110px; float: right; height: 35px; margin-top: 8px; width: 110px;}
.white-logo {margin: 0px 5px 0 10px; width: 100px;}

/* input styles */
#head .input-group  {float:right; display:inline-block; width:100%}
#head .input-group > input[type='text'] {background-color:rgba(0,0,0,0.5); color:white; border:1px solid rgba(250,250,250,0.35); width:100%; height:50px}
.head-categories > .input-group {display: inline-table; float: right ; margin: 0 25px; width: auto;}
input.empty {
    font-family: FontAwesome, 'Open Sans','Helvetica Neue',Helvetica,Arial,Verdana,Sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
textarea:focus, input[type="text"]:focus, .uneditable-input:focus {   
border-color: rgba(250,250,250,0.8) !important;
box-shadow: none;
outline: 0 none;}
textarea, input[type="text"], .uneditable-input {   
box-shadow: none;
outline: 0 none;}

.form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
/* nav-tools styles */
.nav-tools {display: block; float: left; margin-top: 2px; padding: 7px 30px;}
.nav-tools .btn-categories.btn-default > i {display: inline-block; float: left; margin-top: 5px;}
.nav-tools .btn-categories.btn-default > span {display: inline-block; float: left; margin: 2px 0 2px 8px; vertical-align: middle;}
.nav-tools > a:active, a:hover {outline: 0px none;}
.nav-tools > a:focus {outline: thin dotted; outline-offset: 0px;}
.nav-tools > a:hover, a:focus {color: #2A6496; text-decoration: underline;}
.nav-tools > li {display: block; float: left; margin-left: 15px; position: relative; text-align: center;}
.nav-tools > li:first-child {margin: 0px;}
.nav-tools-right {float: right;}
.nav-tools-dropdown {margin: 3px 0; padding: 0px 0px; float:left;}
.nav-tools-dropdown-right {margin: 3px 0; margin-left: 10px; padding: 0px 0px; float:right;}

/* btn styles */
header > .nav-tools-right .btn-categories {border-color:rgb(200,200,200);}
header .nav-tools .btn-categories {margin-top:10px;border-color: rgba(250,250,250,0.35); background-color:rgba(0,0,0,0.1); color:white}
.sub-header-btn {border-bottom: 1px solid rgba(100,100,100,.1); color: rgb(30,30,30); cursor: pointer; display: inline-block; float: left; font-family: 'Roboto'; font-size: 14px; font-weight: normal; line-height: 1.33; margin:auto; padding: 15px 0px; width:100%; text-align: center; vertical-align: middle; white-space: nowrap;}
#sub-header li.selected > .sub-header-btn {background: rgb(248,248,248)}
.sub-header-btn:hover {background: rgb(248,248,248);}
a.sub-header-btn {color: #222; text-align: center; text-decoration: none;}
.tag {background-color: rgba(250,250,245,1); border-color: rgba(200,200,200,0.1); border-radius: 2px; border-radius: 1px; color: black; display: inline-block; float: right; font-family: 'Roboto'; font-size: 12px; font-weight: 400; height: 20px; line-height: 0; margin: 12px; margin: 5px 5px; margin-right: 0px; margin-top: 5px; moz-border-radius: 1px; padding: 10px; webkit-border-radius: 1px;}
.tag.special {background-color: white; border-color: rgba(200,200,200,0.1); border-radius: 2px; margin: 5px 0; moz-border-radius: 1px; webkit-border-radius: 1px;}
.tag:hover {background-color: #333 !important; color: white !important}
.btn-categories {border: 1px solid #dddddd; cursor: pointer; display: inline-block; font-size: 13px; font-weight: 400; line-height: 1.42857; padding: 6px 12px; text-align: center; vertical-align: middle; white-space: nowrap;}
.home-business-box .tag {border-radius: 1px; display: inline-block; float: right; height: 20px; background: rgba(240,240,240,.95); color: #222;}
.home-business-box .tag:first-child {margin-right:5px;}
.add-business-btn {background-color: #262b2f; border-color: #357ebd; border-radius: 1px; color: white; float: right; font-size: 12px; height: 20px; line-height: 0; margin-right: 5px; margin-top: 5px; padding: 10px;}
.add-business-btn:hover{background-color: #eee !important; color: #222 !important; border-color: #ddd}

/* sub-header styles */
#sub-header {background-color: rgba(255,255,255,1); border-bottom: 2px solid rgb(240,240,240); font-size: 28px; height: auto; text-align: center;}
#sub-header .sub-header-btn:first-child {border-left: 1px solid rgba(100,100,100,.1);}
#sub-header li {display: block; float: left; margin-left: 0; position: relative; text-align: center; width: 126px; overflow: hidden;}

/* main-content styles */
#main {height: auto; width: 100%;}
.center-row {margin: auto !important; max-width: 1100px;}
.main-container {background-color: rgba(0,0,0,0.02); border: 2px solid rgba(0,0,0,0.01); margin-top: 0; max-width: 1100px; padding-bottom: 50px; padding-top: 10px;}

.business-box-container {background-size: cover !important; height: 200px; position: relative;}
.description-info-business-box {background-color: rgb(254,255,255); border-radius: 0px; border-top: 0; box-shadow: 0px 1px 1px 0px #eee; color: rgb(70,70,70); display: block; display: inline-block; filter: progid:DXImageTransform.Microsoft.Shadow(color=#D0D0D0, Direction=180, Strength=5); font-family: 'Roboto'; font-size: 1.11em; font-weight: 400; height: auto; line-height: 1.06; margin: 7px 0; moz-border-radius: 1px; moz-box-shadow: 0px 2px 5px 0px #D0D0D0; o-box-shadow: 0px 1px 3px 0px #D0D0D0; padding: 7px; position: relative; text-align: justify !important; text-align: left; webkit-border-radius: 1px; webkit-box-shadow: 0px 1px 3px 0px #D0D0D0; width: 100%;}
.head-categories {background-color: white; border-left: none; border-radius: 2px; box-shadow: 0px 1px 1px 0px #D0D0D0; display: block; filter: progid:DXImageTransform.Microsoft.Shadow(color=#D0D0D0, Direction=180, Strength=5); height: 50px; margin: 5px 0; moz-border-radius: 1px; moz-box-shadow: 0px 2px 5px 0px #D0D0D0; o-box-shadow: 0px 1px 3px 0px #D0D0D0; padding: 10px; vertical-align: middle; webkit-border-radius: 1px; webkit-box-shadow: 0px 1px 3px 0px #D0D0D0; width: 100%;}
.home-business {max-width: 1100px}
.home-business > a > img.center {border: 1px solid #ddd !important; border-bottom: 0; display: block; margin-left: auto; margin-right: auto;}
.home-business-box {background-color: rgb(251,251,251); border-radius: 0px; box-shadow: 0px 1px 1px 0px #ececec; filter: progid:DXImageTransform.Microsoft.Shadow(color=#D0D0D0, Direction=180, Strength=5); moz-border-radius: 1px; moz-box-shadow: 0px 2px 5px 0px #D0D0D0; o-box-shadow: 0px 1px 3px 0px #D0D0D0; padding: 5px; webkit-border-radius: 1px; webkit-box-shadow: 0px 1px 3px 0px #D0D0D0;}
.home-business-box .business-info {background-color: rgba(0,0,0,0.6); bottom: 0px; color: white; display: block; font-family: 'Roboto'; font-size: 1.46em; font-weight: 800; padding: 15px 15px; position: absolute; bottom: 0; left: 0; text-align: left; width: 100%;}

.panel {border: 1px solid #ddd; border-radius: 0; font-family: 'Roboto'; font-size: 2em; font-weight: 800; margin-top: 20px;}
.panel-heading {background-color: #cbdbea; height: 2px; padding: 0 15px;}
.secondary-info-business-box {display: inline-block; float: right; font-size: 1em; padding: 0px; position: absolute; right: 5px;}

@media all and (min-width: 80em) {header > .nav-tools-dropdown, .nav-tools-dropdown-right {display: none}}
@media all and (max-width: 80em) {header > .nav-tools {display: none;} header > .nav-tools-dropdown, header > .nav-tools-dropdown-right {display: block;} #logo{float: center; float: none; margin: 3px auto;}}
@media all and (max-width: 80em) {header > .input-group, #sub-header > .input-group, .head-categories > .input-group {display: none}}

@media all and (max-width: 70em) {#sub-header {display: none} }

@media all and (max-width: 40em) {#head {display: none}; }
@media all and (max-width: 60em) {.head-categories {display: none}; }

.info-box{background-color: #ececec; border-left: none; border-radius: 2px; box-shadow: 0px 1px 1px 0px #D0D0D0; display: block; filter: progid:DXImageTransform.Microsoft.Shadow(color=#D0D0D0, Direction=180, Strength=5); height: auto; margin: 20px; moz-border-radius: 1px; moz-box-shadow: 0px 2px 5px 0px #D0D0D0; o-box-shadow: 0px 1px 3px 0px #D0D0D0; padding: 10px !important; position: relative; webkit-border-radius: 1px; webkit-box-shadow: 0px 1px 3px 0px #D0D0D0;}
.info-box .label-img{left: 25px; position: absolute; top: 0px;}
.price, .categories {
    padding: 0 10px;
	font-size: 1.2em;
    font-family: 'Roboto';
	color:#303537;
    vertical-align: middle;
}